<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->

<head>

  <title>Duo</title>
  <link rel="icon" href="/images/icon.png" type="image/x-icon">
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="css/styles.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css2?family=Pangolin&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src="https://use.fontawesome.com/6ac409195e.js"></script>
  <link href="https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@1,900&display=swap" rel="stylesheet">


  <script src="js/index.js"></script>

</head>

<body>

  <script>
    $(document).ready(function () {
      // Add smooth scrolling to all links
      $("a").on('click', function (event) {

        // Make sure this.hash has a value before overriding default behavior
        if (this.hash !== "") {
          // Prevent default anchor click behavior
          event.preventDefault();

          // Store hash
          var hash = this.hash;

          // Using jQuery's animate() method to add smooth page scroll
          // The optional number (800) specifies the number of milliseconds it takes to scroll to the specified area
          $('html, body').animate({
            scrollTop: $(hash).offset().top
          }, 800, function () {

            // Add hash (#) to URL when done scrolling (default click behavior)
            window.location.hash = hash;
          });
        } // End if
      });
    });
  </script>


  <style>
    @media only screen and (max-width: 600px) {
      #home {
        background: url('/images/mobile-duo.jpg');
        background-image: no-repeat center center fixed;
        background-size: cover;
        background-position: bottom;
      }
    }
  </style>

  <section id="home">

    <!-- <nav>
      <ul>
        <li><a href="#home">XiaoDuo!</a></li>
        <li><a href="#project">XiaoDuo's Friends!</a></li>
        <li><a href="#blog">XiaoDuo's Pack!</a></li>
      </ul>
    </nav> -->

    <nav class="et-hero-tabs">
      <div class="introduction">
        <h1 style="font-size: 5.5rem;">Hi, I'm Xiaoduo!</h1>
        <h1 style="font-size: 5.5rem;">Tanya is my mommy!</h1>
      </div>
      <div class="et-hero-tabs-container">
        <a class="et-hero-tab" href="#timeline">About XiaoDuo!</a>
        <a class="et-hero-tab" href="#project">XiaoDuo's Friends!</a>
        <a class="et-hero-tab" href="#blog">XiaoDuo's Packs!</a>
        <span class="et-hero-tab-slider"></span>
      </div>
    </nav>

 


  </section>

  <div id="timeline">


      <h1>About Me!</h1>
      <p class="leader">I'm a 6yo border collie and a proud Mom of 27 lovely puppies!</p>
      <div class="demo-card-wrapper">
        <div class="demo-card demo-card--step1">
          <div class="head">
            <div class="number-box">
              <span>2014.7.2</span>
            </div>
            <h2>First Day At Puppy School!</h2>
          </div>
          <div class="body">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta reiciendis deserunt doloribus consequatur, laudantium odio dolorum laboriosam.</p>
            <img src="images/school.jpg" alt="Graphic">
          </div>
        </div>
    
        <div class="demo-card demo-card--step2">
          <div class="head">
            <div class="number-box">
              <span>02/03/2017</span>
            </div>
            <h2>Meet my gorgeous husband!</h2>
          </div>
          <div class="body">
            <p>My first pack was borned!</p>
            <img src="images/hon.jpg" alt="Graphic">
          </div>
        </div>
    
        <div class="demo-card demo-card--step3">
          <div class="head">
            <div class="number-box">
              <span>2019.2.2</span>
            </div>
            <h2>Had my first pack!</h2>
          </div>
          <div class="body">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta reiciendis deserunt doloribus consequatur, laudantium odio dolorum laboriosam.</p>
            <img src="images/first.jpg" alt="Graphic">
          </div>
        </div>
    
        <div class="demo-card demo-card--step4">
          <div class="head">
            <div class="number-box">
              <span>2020.2.2</span>
            </div>
            <h2>Second came</h2>
          </div>
          <div class="body">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta reiciendis deserunt doloribus consequatur, laudantium odio dolorum laboriosam.</p>
            <img src="images/second.jpg" alt="Graphic">
          </div>
        </div>
    
        <div class="demo-card demo-card--step5">
          <div class="head">
            <div class="number-box">
              <span>05</span>
            </div>
            <h2>The last before i was desexed : (</h2>
          </div>
          <div class="body">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta reiciendis deserunt doloribus consequatur, laudantium odio dolorum laboriosam.</p>
            <img src="http://placehold.it/1000x500" alt="Graphic">
          </div>
        </div>
        
      </div>
    </div>



  <div id="project" class="text-center">

    <div class="friends-intro">

      <img src="/images/Samoyed-icon.png" style="height: 6rem;">
      <h1 class="friends">Bagel The Samoyed!</h1>

    </div>


    <div class="container">
 
      <div class="card">
        <img src="/images/bagel.jpg">
      </div>
      <div class="card">
        <img src="/images/bagel-taily.jpg">
      </div>
      <div class="card">
        <img src="/images/bagel-messy.jpg">
      </div>
    </div>

    <div class="friends-intro">

      <img src="/images/Husky-icon.png" style="height: 6rem;">
      <h1 class="friends">Cookie The Husky!</h1>

    </div>
    <div class="container">
 
      <div class="card">
        <img src="/images/cookie-bath.jpg">
      </div>
      <div class="card">
        <img src="/images/cookie-duo.jpg">
      </div>
      <div class="card">
        <img src="/images/cookie-treat.jpg">
      </div>
    </div>


    <div class="friends-intro">

      <img src="/images/lab-icon.png" style="height: 6rem;">
      <h1 class="friends">Rebena The Lab!</h1>

    </div>
    <div class="container">
 
      <div class="card">

        <img src="/images/bb1.jpg">
      </div>
      <div class="card">
        <img src="/images/bb2.jpg">
      </div>
      <div class="card">
        <img src="/images/bb3.jpg">
      </div>
    </div>




  </div>



  <section id="blog">


  </section>


</body>

</html>